// ===================================================
// FOOTER STYLES
// ===================================================

footer{
	@include flexcol();
	width: 100%;
	color: $text-grey;
	font-size: 1.2rem;
	a{
		color: $text-grey;
		@include transition();
		&:hover{
			color: $blue;
		}
	}
	p{
		margin: 5px 0;
	}
}//footer
.footer-email{
	font-size: 1.8rem;
}
.footer-top{
	background: $footer;
	width: 100%;
}

.footer-top-wrapper{
	@include flexrow();
	@include section();
	p{
		padding: 0 30px;
	}
	div{
		width: 33%;
		text-align: center;
		@include flexcol();
		justify-content: flex-start;
		padding: 30px;
		&:first-child, &:nth-child(2){
			border-right: 1px solid $footer-lines;
		}
	}
	.footer-social-wrapper{
		@include flexrow();
		width: 100%;
		justify-content: space-between;
		padding: 10px;
		div{
			padding: 5px;
			border: none;
			width: 10%;
			font-size: 2rem;
		}
	}
}
.footer-bottom{
	width: 100%;
	background: $footer-bottom;
}
.footer-bottom-wrapper{
	@include section();
	@include flexrow();
	justify-content: center;
	width: 100%;
	padding: 0 20px;
}
.nav-footer{
	li{
		display: inline;
		margin-left: 20px;
	}
}