// ===================================================
// ABOUT STYLES
// ===================================================
.about{
	background: linear-gradient(135deg, $blue, $green);
	.underline{
		border-bottom: 2px solid $green;
	}
}
.about-wrapper{
	@include section();
	@include flexrow();
	@include outer-container;
	@include main-section();
	color: $white;
}
.about-text{
	@include flexcol();
	@include span-columns(5);
	text-align: left;
	padding-top: 50px;
}
.about-headshot{
	width: 100%;
	display: none;
	margin-bottom: 30px;
	img{
		width: 100%;
		@include transition();
		&:hover{
			@include box-shadow();
		}
	}
}
.about-icon-wrapper{
	@include flexrow();
	align-items: flex-start;
	justify-content: space-bewteen;
	font-size: 6rem;
	span{
		width: 33%;
		margin-bottom: 10px;
		&:nth-child(8){
			font-size: 7rem;
		}
	}
}
.about-skills-wrapper{
	@include flexcol();
	@include span-columns(7);
	padding: 10px;
}
.about-skill{
	@include flexrow();
	h4{
		margin:5px 0 10px 0;
	}
}
.skill-icon{
	width: 15%;
	font-size: 4rem;
}

.skill-text{
	width: 85%;
	border-bottom: 1px solid darken($grey, 12%);
	margin-bottom: 20px;
}
.skill-last{
	border:0;
}
