// ===================================================
// LEARNING STYLES
// ===================================================
.learning{
	background: url(../assets/learning-bg.jpg), linear-gradient(135deg, rgba($black, 1), rgba($blue, .1));
	@include bg();
	background-blend-mode: darken;
	color: $white;
}
.learning-wrapper{
	@include section();
	@include main-section();
}
.learning-text{
	a{
		@include transition();
		color: lighten($blue, 20%);
		&:hover{
			text-decoration: underline;
		}
	}
	.tagline{
		text-transform: none;
	}
	h3{
		margin:0;
		span{
			color: $blue;
			font-size: 5rem;
			text-shadow: 2px 2px rgba($white, 0.9);
		}
	}
}