// ===================================================
// IMPORT SETUP STYLES
//====================================================
@import "setup";
@import "bourbon/bourbon"; 
@import "neat/neat"; 

// ===================================================
// VARIABLES & MIXINS
//====================================================
$black: #393939;   
$blue: #1893cc;
$green: #bed993;     
$white: #f5f4ee; 
$pink: #E75C78;
$grey: #eee;

@mixin flexrow(){
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
@mixin flexcol(){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin bg(){
	background-position: center;
	background-size: cover;
}
@mixin box-shadow(){
	box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
}


// ===================================================
// GENERAL STYLES
// ===================================================
a{
	text-decoration: none;
	color: $black;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Coustard', serif;
	font-weight: 900;
}
body{
	overflow-x:hidden;
	font-family: 'Josefin Sans';
}
main{
	max-width: 1170px;
	margin:0 auto;
}

// ===================================================
// NAV STYLES
// ===================================================
header{
	height: 100vh;
	width: 100%;
	background: url(../assets/hero-bg.jpg);
	@include bg();
}
nav{
	border-bottom: 1px solid $grey;
}
.nav-wrapper{
	@include flexrow();
	justify-content: center;
	align-items: center;
}
.nav-brand{
	width: 20%;
	text-align: right;
	border-right: 1px solid $grey;
	padding-right: 25px;
}
.nav-links{
	width: 60%;
	@include flexrow();
	justify-content: flex-end;
	border-right: 1px solid $grey;
	
}
.nav-main{
	@include flexrow();
	justify-content: flex-end;
	li{
		display: inline;
		padding: 10px 25px;
		&:hover{
			border: 2px solid $black;
		}//hover
	}//li
}//nav-main

.nav-mobile{
	width: 20%;
	padding-left: 25px;
}

// ===================================================
// HERO STYLES
// ===================================================
.hero-wrapper{
	@include flexcol();
}
.hero-text{

}
.hero-social{
	@include flexrow();
}

// ===================================================
// ABOUT STYLES
// ===================================================
.about-wrapper{
	@include flexrow();
}
.about-text{
	@include flexcol();
}
.about-skills-wrapper{
	@include flexcol();
}
.about-skill{
	@include flexrow();
}


// ===================================================
// PORTFOLIO STYLES
// ===================================================

// ===================================================
// LEARNING STYLES
// ===================================================

// ===================================================
// CONTACT STYLES
// ===================================================

// ===================================================
// FOOTER STYLES
// ===================================================

footer{
	padding: 5%;
	text-align: center;
	color: $black;
}























