article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

/* END OF SETUP STYLES */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.sliding-panel-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .sliding-panel-content ul {
    padding: 0;
    margin: 0; }
  .sliding-panel-content li {
    list-style: none; }
  .sliding-panel-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none; }
    .sliding-panel-content li a:focus {
      background-color: #4d4d4d; }
    .sliding-panel-content li a:hover {
      background-color: #477DCA;
      color: #fff; }
  .sliding-panel-content.is-visible {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

.sliding-panel-button {
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none; }
  .sliding-panel-button img {
    height: 1.3em; }

.nav-top {
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100%;
  z-index: 100; }

.main-fly {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 50;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  border-bottom: none; }

.nav-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.nav-brand {
  width: 20%;
  text-align: right;
  font-family: 'Delius Swash Caps', cursive;
  border-right: 1px solid #eee;
  font-size: 1.9rem;
  padding-right: 25px; }
  .nav-brand p {
    margin: 10px 0; }

.nav-links {
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav-main li {
    display: inline;
    padding: 10px 15px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .nav-main li:hover {
      border-bottom: 2px solid #2398DC; }

.nav-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 10%;
  padding-left: 25px;
  border-left: 1px solid #eee; }
  .nav-mobile button {
    display: none;
    background: none;
    border: none;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .nav-mobile button:hover {
      color: #2398DC; }

nav.js-menu p {
  margin: 30px 15px; }

header {
  height: auto;
  width: 100%;
  background: url(../assets/portfolio-hero.jpg);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  position: relative; }

.hero-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 6% 60px 6%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 120px; }

.hero-text {
  width: 400px;
  text-align: left; }
  .hero-text p {
    margin-top: 0;
    margin-bottom: 5px; }
  .hero-text span {
    font-family: 'Coustard', serif;
    font-size: 5rem;
    margin-bottom: 20px; }
    .hero-text span p {
      line-height: 1;
      letter-spacing: 2px; }
      .hero-text span p:nth-child(2), .hero-text span p:nth-child(4) {
        font-size: 8rem;
        color: #2398DC; }
  .hero-text .tagline:nth-child(3) {
    font-size: 3rem; }

.hero-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px; }
  .hero-buttons a {
    padding: 12px 20px 10px 20px;
    border: 1px solid #393939;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
    border-radius: 25px;
    font-size: 1.2rem;
    margin-right: 10px; }
    .hero-buttons a:hover {
      background: #2398DC;
      color: #f5f4ee;
      border: 1px solid #2398DC; }

.hero-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 8%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 43px; }

.hero-social-icons {
  font-size: 4rem;
  margin-right: 20px;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  width: 35px; }
  .hero-social-icons i {
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
  .hero-social-icons:hover {
    padding-bottom: 20px; }
    .hero-social-icons:hover i {
      color: #2398DC; }
  .hero-social-icons:nth-child(1):hover {
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
  .hero-social-icons:nth-child(2):hover {
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  .hero-social-icons:nth-child(3):hover {
    -webkit-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
            transform: rotate(8deg); }
  .hero-social-icons:nth-child(4):hover {
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  .hero-social-icons:nth-child(5):hover {
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg); }
  .hero-social-icons:nth-child(6):hover {
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg); }

.about {
  background: -webkit-linear-gradient(315deg, #2398DC, #60BEA8);
  background: linear-gradient(135deg, #2398DC, #60BEA8); }
  .about .underline {
    border-bottom: 2px solid #60BEA8; }

.about-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 6% 60px 6%;
  color: #f5f4ee; }
  .about-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.about-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  text-align: left;
  padding-top: 50px; }
  .about-text:last-child {
    margin-right: 0; }

.about-headshot {
  width: 100%;
  display: none;
  margin-bottom: 30px; }
  .about-headshot img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .about-headshot img:hover {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15); }

.about-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-bewteen;
  -webkit-justify-content: space-bewteen;
      -ms-flex-pack: space-bewteen;
          justify-content: space-bewteen;
  font-size: 6rem; }
  .about-icon-wrapper span {
    width: 33%;
    margin-bottom: 10px; }
    .about-icon-wrapper span:nth-child(8) {
      font-size: 7rem; }

.about-skills-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  padding: 10px; }
  .about-skills-wrapper:last-child {
    margin-right: 0; }

.about-skill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .about-skill h4 {
    margin: 5px 0 10px 0; }

.skill-icon {
  width: 15%;
  font-size: 4rem; }

.skill-text {
  width: 85%;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px; }

.skill-last {
  border: 0; }

.portfolio {
  background: #fff; }

.portfolio-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 6% 60px 6%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }

.portfolio-header {
  width: 100%;
  text-align: left; }
  .portfolio-header .tagline {
    color: #838383; }
  .portfolio-header a {
    color: #2398DC;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .portfolio-header a:hover {
      border-bottom: 2px solid #2398DC; }

.portfolio-items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 0; }

.portfolio-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease; }
  .portfolio-item:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15); }
    .portfolio-item:hover .portfolio-item-img img {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }

.portfolio-item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 50%;
  overflow: hidden; }
  .portfolio-item-img img {
    -webkit-transition: all 6s ease;
            transition: all 6s ease;
    height: auto;
    width: 100%; }

.portfolio-item-text {
  text-align: left;
  width: 50%;
  padding: 40px;
  background: #F7F7F7;
  color: #838383; }
  .portfolio-item-text h5 {
    color: #393939; }

.portfolio-tech {
  margin: 0;
  color: #7ECAEB;
  font-size: 1.2rem; }

.portfolio-share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: #f6f6f6;
  padding: 10px 0;
  position: absolute;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 33px;
  left: 0;
  font-size: 1.2rem;
  width: 100%; }
  .portfolio-share a {
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
    padding: 1rem;
    margin: 0.2rem;
    background: #E75C78;
    color: #f5f4ee;
    border-radius: 15px; }
    .portfolio-share a:hover {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15); }
    .portfolio-share a:first-child {
      background: #2398DC; }
    .portfolio-share a:last-child {
      background: #60BEA8; }

.triangle-left, .triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 26px 15px 0;
  border-color: transparent #F7F7F7 transparent transparent;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 50; }

.triangle-right {
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.learning {
  background: url(../assets/learning-bg.jpg), rgba(57, 57, 57, 0.6);
  background-blend-mode: darken;
  background-position: 50% 0 repeat fixed;
  color: #f5f4ee; }

.learning-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 6% 60px 6%; }

.learning-text a {
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  color: #7bc1ea; }
  .learning-text a:hover {
    text-decoration: underline; }

.learning-text .tagline {
  text-transform: none; }

.learning-text h3 {
  margin: 0; }
  .learning-text h3 span {
    color: #2398DC;
    font-size: 5rem;
    text-shadow: 2px 2px rgba(245, 244, 238, 0.9); }

.contact-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 6% 60px 6%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: left; }
  .contact-wrapper form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.contact-header {
  width: 100%; }
  .contact-header .tagline {
    color: #838383; }
  .contact-header a {
    color: #2398DC;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .contact-header a:hover {
      border-bottom: 2px solid #2398DC; }

.contact-form {
  width: 100%; }
  .contact-form input {
    width: 100%;
    background: #F7F7F7;
    border: none;
    color: #838383;
    padding: 18px;
    margin-bottom: 20px; }
  .contact-form textarea {
    width: 100%;
    height: 205px;
    background: #F7F7F7;
    border: none;
    resize: none;
    color: #838383;
    padding: 18px; }

.form-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }

.form-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  margin-right: 3%; }

.form-right {
  width: 57%; }

.form-bottom {
  margin-left: auto; }
  .form-bottom button {
    border: 1px solid #2398DC;
    background: #2398DC;
    color: #f5f4ee;
    font-size: 1rem;
    padding: 14px 25px 12px 25px;
    border-radius: 25px;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .form-bottom button:hover {
      background: #fff;
      color: #2398DC;
      border: 1px solid #2398DC; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #838383;
  font-size: 1.2rem; }
  footer a {
    color: #838383;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    footer a:hover {
      color: #2398DC; }
  footer p {
    margin: 5px 0; }

.footer-email {
  font-size: 1.8rem; }

.footer-top {
  background: #252525;
  width: 100%; }

.footer-top-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto; }
  .footer-top-wrapper p {
    padding: 0 30px; }
  .footer-top-wrapper div {
    width: 33%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 30px; }
    .footer-top-wrapper div:first-child, .footer-top-wrapper div:nth-child(2) {
      border-right: 1px solid #2A2A2A; }
  .footer-top-wrapper .footer-social-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px; }
    .footer-top-wrapper .footer-social-wrapper div {
      padding: 5px;
      border: none;
      width: 7%;
      font-size: 2rem; }

.footer-bottom {
  width: 100%;
  background: #222222; }

.footer-bottom-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 5px 20px; }
  .footer-bottom-wrapper p {
    letter-spacing: 2.5px; }

.nav-footer li {
  display: inline;
  margin-left: 20px; }

@media all and (max-width: 1000px) {
  .hero-wrapper,
  .about-wrapper,
  .portfolio-wrapper,
  .learning-wrapper,
  .contact-wrapper {
    padding: 60px 40px; }
  .hero-wrapper {
    padding-top: 120px; } }

@media all and (max-width: 925px) {
  header {
    background: url(../assets/portfolio-hero-mobile.jpg);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen; }
  .triangle-left,
  .triangle-right {
    display: none; }
  .hideme {
    opacity: 1; }
  .portfolio-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    .portfolio-item:nth-child(1) .portfolio-item-img, .portfolio-item:nth-child(3) .portfolio-item-img {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .portfolio-item:nth-child(1) .portfolio-item-text, .portfolio-item:nth-child(3) .portfolio-item-text {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .portfolio-item-img,
  .portfolio-item-text {
    width: 100%; } }

@media all and (max-width: 805px) {
  .nav-links {
    display: none; }
  .nav-mobile button {
    display: block; }
  .nav-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav-mobile {
    width: 100px; }
  .nav-brand {
    width: 100px; }
    .nav-brand .brand-jm a {
      padding: 9px 1px; }
    .nav-brand p {
      margin: 6px; }
  .about-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-icon-wrapper {
    font-size: 4rem; }
    .about-icon-wrapper span {
      width: 20%; }
      .about-icon-wrapper span:nth-child(8) {
        font-size: 5.5rem; }
  .about-text {
    width: 90%;
    padding-top: 0; }
  .about-skills-wrapper {
    width: 100%;
    margin-top: 30px; }
  .portfolio-wrapper {
    width: 95%; } }

@media all and (max-width: 650px) {
  header {
    background-image: none; }
  .nav-top {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    border-bottom: none; }
  .about-headshot {
    display: block; }
  .portfolio-item {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .portfolio-item-text {
    padding: 20px; }
  .form-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .form-top .form-left, .form-top .form-right {
      width: 100%; }
    .form-top .form-left {
      margin: 0; }
  .form-bottom {
    margin-top: 20px; }
  .footer-top-wrapper .footer-social-wrapper div {
    width: 34px; } }

@media all and (max-width: 450px) {
  header {
    height: auto; }
  html {
    font-size: 8px !important; }
  .hideme {
    opacity: 1; }
  .hero-text .tagline:nth-child(3) {
    font-size: 2.5rem; }
  .hero-social-icons {
    margin: 0 5px 0 5px; }
  .hero-wrapper,
  .about-wrapper,
  .portfolio-wrapper,
  .learning-wrapper,
  .contact-wrapper {
    padding: 60px 20px; }
  .hero-wrapper {
    padding-top: 80px; }
  .footer {
    font-size: 0.9rem; } }

@media all and (min-width: 1330px) {
  header {
    background: url(../assets/portfolio-hero.jpg), #fff;
    background-blend-mode: darken;
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat; } }

html {
  font-size: 10px; }

a {
  text-decoration: none;
  color: #393939; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Coustard', serif;
  font-weight: 400;
  letter-spacing: 2px; }

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #393939; }

main {
  margin: 0 auto; }

p {
  line-height: 1.8;
  letter-spacing: 1px; }

.tagline {
  font-size: 2rem;
  line-height: 1.4;
  text-transform: uppercase; }

p.lead {
  font-family: 'Coustard', serif;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 2px;
  margin: 10px 0; }

h3 {
  font-size: 4rem;
  margin: 0 0 5px 0; }

h5 {
  margin: 10px 0 15px 0;
  font-size: 2rem; }

h6 {
  color: #f5f4ee;
  margin-bottom: 10px; }

.brand-jm a {
  background: #2398DC;
  color: #f5f4ee;
  border-radius: 50%;
  margin-top: auto;
  padding: 18px 10px;
  border: 2px solid #e4e1d1;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease; }
  .brand-jm a:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15); }

.underline {
  width: 150px;
  border-bottom: 2px solid #2398DC;
  margin-bottom: 35px; }

.hideme {
  opacity: 0; }

span.typed-cursor {
  opacity: 1;
  font-size: 8rem;
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite; }

.typing {
  display: inline-block; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
