// ===================================================
// IMPORT SETUP STYLES
//====================================================
@import "setup";
@import "bourbon/bourbon"; 
@import "neat/neat"; 
@import "mobile-menu";
@import "mixins";
@import "nav";
@import "home-hero";
@import "home-about";
@import "home-portfolio";
@import "home-learning";
@import "home-contact";
@import "footer";

// ===================================================
// GENERAL STYLES
// ===================================================
html{
	font-size: 62.5%;
}
a{
	text-decoration: none;
	color: $black;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Coustard', serif;
	font-weight: 400;
	letter-spacing: 2px;
}
body{
	overflow-x:hidden;
	font-family: 'Josefin Sans';
	font-size: 1.6rem;
	color: $black;
}
main{
	margin:0 auto;
}
p{
	line-height: 1.8;
	letter-spacing: .6px;
}
.tagline{
	font-size: 2rem;
	line-height: 1.4;
	text-transform: uppercase;
}
p.lead{
	font-family: 'Coustard', serif;
	font-size: 4rem;
	line-height: 1;
	letter-spacing: 2px;
	margin: 10px 0;
}
h3{
	font-size: 4rem;
	margin: 0 0 15px 0;
}
h5{
	margin: 10px 0 15px 0;
	font-size: 2rem
}
h6{
	color: $white;

}



































